.justify {
    text-align: justify;
  
}


.border-4-u {
    background: linear-gradient(to right, pink, green 100%);
    background-position: 0 100%;
    background-size: 100% 4px;
    background-repeat: repeat-x;
}

.radius-20 {
    border-radius: 20px;
}

.center {
    text-align: center;

}

.bold {
    font-weight: bold;
}

.font {
    font-family: 'Montserrat', sans-serif;
}


.justify {
    text-align: justify;
    padding: 15px;
}

.typeanim {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    animation: example 4s ease-in-out;
}

@keyframes example {
    from {
        width: 0;
    }

    to {
        width: 300px;
    }
}

.inline {
    display: inline-block;
}

.inline-line {
    display: inline;
}

.form {

    border-radius: 5px;
    background-color: #fff;
    padding: 20px;
}

.form input[type=text],
select,
input[type=tel],
input[type=email] {
    width: 100%;
    color: #000000;
    padding: 14px 20px;
    margin: 8px 0px;
    border: 2px solid #ccc;
    border-radius: 10px;
    display: inline-block;
    box-sizing: border-box;
    outline: none;
    border: 1px solid #0430aa;
    margin: auto;
    -webkit-appearance: none;


}

.form button[type=submit] {
    width: 100%;
    background-color: #0430aa;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.form button[type=submit]:hover {
    width: 100%;
    background-color: #23cb80;
    color: rgb(0, 0, 0);
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: .5s;
}

a i {
    padding-right: 10px;
    font-size: larger;
}

.inp-icon {
    padding: 12px;
}

.placeholder {
    font-family: 'Open Sans', sans-serif;

    position: relative;
    top: -40px;
    left: 18px;
    font-size: 14px;
    padding: 0px 5px;
    color: rgb(0, 0, 0);
    transition: 0.3s;
    pointer-events: none;
}

.input:focus+.placeholder {
    top: -64px;
    
    color: #0430aa;
    background-color: #fff;
}

.input:valid+.placeholder {
    top: -64px;
    color: #0430aa;
    background-color: #fff;
}

.alert-g {
    margin: 20px;
    background-color: #80f180;
    border-radius: 20px;
    color: #1c6e1c;
}

.m-20 {
    margin: 20px;
}

.footer {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    color: #fff;
    text-decoration: none;
}


.reveal {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
}

.reveal.active {
    transform: translateY(0);
    opacity: 1;
}

.show-txt {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
}

.show-txt.active {
    transform: translateY(0);
    opacity: 1;
}

.color-pink {
    background-color: #FFAEBC;
}

.color-mint {
    background-color: #B4F8C8;
}

.color-blue1 {
    background-color: #189AB4;
}

.color-coral {
    background-color: #F79489;
}

.color-litac {
    background-color: #D3B5E5;
}

.color-cream {
    background-color: #EFF1DB;
}

.snackbar {
    position: fixed;
    z-index: 2;
    background-color: #157400;
    padding: 15px 20px;
    bottom: 20px;
    width: 80%;
    margin: auto;
    color: #ffffff;
    display: none;
    transition: 1s all ease;
}

.spin {
    animation: spin 1s linear infinite;
}


@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.employ:nth-child(1) {
    font-size: larger;
}

/*for bigger screen*/

@media screen and (min-width:700px) {


    .container {
        position: relative;

        width: 80%;
        margin: auto;



    }



    .banner {

        position: relative;
        background-color: aquamarine;
        min-height: 300px;
        max-width: 800px;
        border-radius: 20px;

    }

    .content {
        position: absolute;
        top: 70px;
        right: -150px;

        min-width: 50%;
        margin: auto;
        padding: 20px;
        text-align: center;
        background-color: rgb(255, 127, 127);
        min-height: 100px;
        border-radius: 20px;
        box-shadow: 0 4px 8px 0 rgb(198, 198, 198);
    }
          .form {
              width: 70%;
              margin: auto;
          }
}
@media screen and (min-width:1000px) {
    .form {
        
            width: 50%;
            margin: auto;
        }

}
@media screen and (max-width:700px) {

    .container {
        position: relative;
        top: 30px;


        margin: auto;

    }
      .form{
        width:90%;
        margin: auto;
    }
  

    .banner {
        position: relative;
        background-color: aquamarine;
        min-height: 200px;
        border-radius: 20px;

    }

    .content {
        font-weight: bold;
        font-family: 'Open Sans', sans-serif;
        position: relative;
        top: 130px;
        max-width: 90%;
        margin: auto;
        padding: 20px;
        text-align: center;
        background-color: rgb(255, 127, 127);
        min-height: 30px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        box-shadow: 0 4px 8px 0 rgb(198, 198, 198);
    }
}