<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Blithchron'23</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Blithchron'23 website" />
    <meta property="og:title" content="Blithchron'23 | IIT Gandhinagar" />
    <meta property="og:description" content="Blithchron'23 website" />
    <meta property="og:image" content="assets/logo.jpg" />
    <meta property="og:url" content="https://blithchron.iitgn.ac.in" />
    <meta property="og:site_name" content="Blithchron'23" />

    <link href="style/reset.css" rel="stylesheet" />
    <link href="style/preloader.css" rel="stylesheet" />
    <link href="style/navbar.css" rel="stylesheet" />
    <link href="style/hero.css" rel="stylesheet" />
    <link href="style/event-section.css" rel="stylesheet" />
    <link href="style/pronites.css" rel="stylesheet" />
    <link href="style/footer.css" rel="stylesheet" />
    <link rel="icon" type="image/jpg" href="assets/logo.jpg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <div class="loader" id="loader">
      <div class="loading-content">
        <div class="loader-heading">
          <img src="assets/Group25.png" alt="" />
        </div>
        <br />
        <div class="-loader-subtitle" style="color: white; font-weight: bold">
          Presents
        </div>
        <br />
        <div class="loader-heading">
          <img src="assets/blithlogo1.svg" alt="" />
        </div>
        <div class="loader-heading move ext">
          <div class="hand wave">
            <img src="assets/hand.svg" alt="" />
          </div>
          <div class="ext-svg">
            <img src="assets/ext-svg.svg" alt="" />
          </div>
        </div>
      </div>
    </div>

    <nav id="navbar">
      <div class="logo" onclick="location.href='https\:\/\/blithchron.iitgn.ac.in'"></div>
      <ul class="nav" id="nav">
        <li class="menu-item"><a href="#" class="active nav-item">Home</a></li>
        <li class="menu-item">
          <a href="/events" class="nav-item">Events</a>
        </li>
        <li class="menu-item">
          <a href="/sponsors" class="nav-item">Sponsors</a>
        </li>
        <li class="menu-item"><a href="/team" class="nav-item">Team</a></li>
      </ul>
      <div class="menu" id="menu" onclick="onClickMenu()">
        <div id="bar1" class="bar"></div>
        <div id="bar2" class="bar"></div>
        <div id="bar3" class="bar"></div>
        <div id="bar4" class="bar"></div>
      </div>
    </nav>

    <div class="hero" id="hero">
      <div class="hero-bg" id="hero-bg" data-speed="0.75"></div>
      <div class="mob-bg"></div>
      <div class="clouds-png">
        <img src="assets/clouds.png" alt="" />
      </div>
      <div class="hero-hills" id="hero-bg" data-speed="0.5"></div>
      <div class="hero-fg" id="hero-bg" data-speed="0.1"></div>
      <h1>BLITHCHRON '23</h1>
    </div>
 
    <div class="wayslider">
      <h2 style="text-align: center; margin-top: 50px">Our Events</h2>
      <!-- These are left empty-->
      <!-- But they still fill the full screen-->
      <!-- They are used only for indicating scroll position-->
      <div class="wayslider__indicator-1"></div>
      <div class="wayslider__indicator-2"></div>
      <div class="wayslider__indicator-3"></div>
      <div class="wayslider__indicator-4"></div>
      <!-- These slides are FIXED to the top corner of the page-->
      <!-- All the content is in this slide, but you could also put content-->
      <!-- in the indicator divs as well-->
      <div class="wayslider__slide-1">
        <div class="wayslider__content">
          <h2 class="wayslider__heading">Panache</h2>

          <div class="event-img" ><img src="assets/coming-soon.png" alt=""></div>
          <p class="wayslider__text"  id="more" onclick="">
            Here’s your chance to grab your needles, threads and spools and create magic for our runaway and put up the fashion show of your lifetime. Get ready fashionista’s for Gujarat’s flagship fashion show - “PANACHE”. We’ll be the one with the red carpet.
          </p>
          <button
            class="register"
            id="register"
            onclick="location.href='/register/panache.html'"
          >
            Register
          </button>
          <button
            class="rulebook"
            id="rulebook"
            onclick="location.href='/register/panache.html'"
          >
            Rulebook
          </button>
        </div>
      </div>
      <div class="wayslider__slide-2">
        <div class="wayslider__content">
          <h2 class="wayslider__heading">Synchronize</h2>
          <p class="wayslider__text">
            Do you require a stage on which to awe the audience with your captivating performance? As we bring the stage to you, mesmerize us with your coordinated choreography and energetic movements!
          </p>
          <button
            class="register"
            onclick="location.href='/register/Sync.html',
  '_blank'"
          >
            Register
          </button>
          <button
            class="rulebook"
            onclick="location.href='/register/panache.html'"
          >
            Rulebook
          </button>
          <div class="event-img"><img src="assets/synchronize_light_withoutBG.png" alt=""></div>
        </div>
      </div>

      <div class="wayslider__slide-3">
        <div class="wayslider__content">
          <h2 class="wayslider__heading">Antaragnee</h2>
          <p class="wayslider__text">
            Antaragnee is about anger, pain, sorrow, surprise, and all the emotions you can show. It's about building a plot, filling it up with emotions, raising your voice, and enacting it. It is an event that entails theatrical performances in outdoor public spaces and gives you the platform to leave your mark on the audience.
          </p>
          <button
            class="register"
            onclick="location.href='/register/antaragnee.html',
  '_blank'"
          >
            Register
          </button>
          <button
            class="rulebook"
            onclick="location.href='/register/panache.html'"
          >
            Rulebook
          </button>
          <div class="event-img"><img src="assets/Antaragnee.png" alt=""></div>
        </div>
      </div>
      <div class="wayslider__slide-4">
        <div class="wayslider__content">
        
        <h2 class="wayslider__heading"><u>More Events</u></h2>
        <p class="wayslider__text">
          <br><br>
          <a href="/events"><img src="assets/Group42.svg" alt=""></a>
        </p>
          <div class="event-img collage">
            <img src="https://raw.githubusercontent.com/anmolkumr/blith-assets/main/img/collage.jpg" alt="Collage-blith">
          </div>
        </div>
      </div>
    </div>
    <div class="bush">
      <img src="assets/bush_transition.svg" alt="">
    </div>
    <div class="pronites">
      
      <section class="pronites-section">
        <div class="pronites-bg">

        </div>
        <div class="video-mask">

          <video type="video/mp4" class="video" crossorigin="anonymous" autoplay controls>
            <source src="https://raw.githubusercontent.com/anmolkumr/blith-assets/main/blith-thowback.mp4" type="video/mp4">
            Your browser does not support HTML video.
          </video>
        </div>
      
      
      </div>
      </section>
      
   
    <div class="footer-shadow"></div>

    <footer>
      <div class="campfire">
        <img src="assets/campfire-extra.png" alt="campfire" />
      </div>

      <div class="socials">
        <h3>Connect with us</h3>
        <div class="m-20">
          <div class="socials1">
            <a href="https://www.instagram.com/blithchron_iitgn/">
              <li>
                <img
                  src="assets/instagram.svg"
                  class="social-media"
                />
              </li>
            </a>
            <a href="https://www.youtube.com/user/IITGnBlithchron">
              <li>
                <img
                  src="assets/ytube.svg"
                  class="social-media"
                />
              </li>
            </a>
          </div>
          <div class="socials2">
            <a href="https://www.facebook.com/Blithchron/">
              <li>
                <img
                  src="assets/facebook.svg"
                  class="social-media"
                />
              </li>
            </a>
            <a href="https://www.linkedin.com/company/blithchron-iit-gandhinagar/">
              <li>
                <img
                  src="assets/linkedin.svg"
                  class="social-media"
                />
              </li>
            </a>
          </div>
        </div>
      </div>
      <div class="navigate">
        <h3>Navigate</h3>

        <a href="/">
          <li>Home</li>
        </a>
        <a href="/events">
          <li>Events</li>
        </a>
        <a href="/coming-soon">
          <li>Sponsors</li>
        </a>
        <a href="/team">
          <li>Our Team</li>
        </a>
      </div>
      <div class="app">
        <h3>Our App</h3>
        <a href="">
          <li>
            <img
              src="assets/apple.svg"
              class="social-media"
            />
          </li>
        </a>
        <a href="">
          <li>
            <img
              src="assets/play.svg"
              class="social-media"
            />
          </li>
        </a>
      </div>
    </footer>

    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/5530/jquery.waypoints.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/ScrollTrigger.min.js"></script>
    <script src="script/script.js" charset="utf-8"></script>
  </body>
</html>
