<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registration Blithchron '23</title>
  <link rel="stylesheet" href="style/register.css">
</head>
<body>
  <div class="e-img">
  <div class="e-img-txt">
    <h2>Antaragnee</h2>
    <h3>Res=gister</h3>
  </div>
  </div>
  
  
  <div class="e-img1">
  <div class="e-img1-txt">
    <h2></h2>
    <h3>Res=gister</h3>
  </div>
  </div>
  
</body>
</html>