<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registration Blithchron '23</title>
    <link href="style/registration.css" rel="stylesheet" />
</head>
<body>
  <div class="box">
    <a class="bItem" href="">
      <div class="bText white">
        <h3 color="white">TITLE</h3> Additional text here.
      </div>
    </a>
  </div>
</body>
</html>







































<!-- <!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blithchron '23 | IIT Gandhinagar</title>

  <link rel="stylesheet" href="./style/style.css">
  <script src="./js/script.js" charset="utf-8"></script>

</head>

<body>
  <div class="navbar">
    <div class="nav-wrapper">
      <div class="">
        <a href="index.html">

          <span>Home</span>
        </a>
      </div>
      <div class="">
        <a href="events.html">
          <span>

            <span>Events</span>
        </a>
      </div>
      <div class="">

        <span>Sponsers</span>
        </a>
      </div>
      <div class="">
        <a href="team.html">

          <span>Our Team</span>
        </a>
      </div>
      <div class="">
        <a href="more.html">

          <span>More</span>
        </a>
      </div>
    </div>
  </div>


  <div class="iframe-gapps">

    <iframe
      src="https://script.google.com/macros/s/AKfycbxenGl6JCZW4edaWliy2VxdfwfORkVYkMRlcAXk1NBTmSQcDrJJli1ymFF8oGxzVFcLUg/exec"
      scrolling="no" frameborder="0" style="overflow:hidden;width: 100%; height:90vh;"></iframe>

  </div>
</body>

</html> -->