<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blithchron '23 | IIT Gandhinagar</title>
  <link rel="stylesheet" href="./style/style.css">
  <!-- <script src="https://unpkg.com/swup@latest/dist/swup.min.js"></script> -->
  <script src="./js/script.js" charset="utf-8"></script>
  <style>
    .typeanim {
    /* display: inline-block; */
    overflow: hidden;
    white-space: nowrap;
    animation: example 2s ease-in-out;
}

@keyframes example {
    from {
        width: 0;
    }

    to {
        width: 300px;
    }
}

  </style>
</head>

<body>
  <header>
    <nav>
      <div class="div_logo">
        <img class="logo" src="img/spons_demo/update.jpg" alt="">
      </div>
      <!-- <ul>
                  <li><a href="">Home</a></li>
                  <li><a href="">Events</a></li>
                  <li><a href="">Sponsors</a></li>
                  <li><a href="">Teams</a></li>
              </ul> -->
      <div class="hamburger">

      </div>
    </nav>
  </header>
  <div class="leftside_bg_img">
    <h1 class="main_title typeanim">SPONSORS</h1>
    <p class="description">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste, a. ipsum dolor sit amet consectetur adipisicing
      elit. Soluta, labore? ipsum dolor sit amet consectetur adipisicing elit. Voluptatem voluptates impedit iure
      quibusdam eum consequuntur eveniet saepe animi delectus veniam voluptate quaerat, architecto soluta deleniti
      dignissimos tempore minima laudantium dolorum.
    </p>
  </div>
  <div class="rightside">

    <div class="sponsors3">
      <div class="spons">
        <p class="spons-title">Title Sponsor</p>
        <a href=""><img class="spons-img" src="img/spons_demo/1.png" alt=""></a>
      </div>
      <div class="spons">
        <p class="spons-title">Title Sponsor</p>
        <a href=""><img class="spons-img" src="img/spons_demo/2.png" alt=""></a>
      </div>
      <div class="spons">
        <p class="spons-title">Title Sponsor</p>
        <a href=""><img class="spons-img" src="img/spons_demo/3.png" alt=""></a>
      </div>
    </div>
    <div class="sponsors2">
      <div class="spons">
        <p class="spons-title">Title Sponsor</p>
        <a href=""><img class="spons-img" src="img/spons_demo/4.png" alt=""></a>
      </div>
      <div class="spons">
        <p class="spons-title">Title Sponsor</p>
        <a href=""><img class="spons-img" src="img/spons_demo/5.png" alt=""></a>
      </div>
    </div>

  </div>
</body>

</html>